name: kernel release 5_10-rk3_4	

on:	
  push:	
    branches:	
      - main	


jobs:	
  build:	
    permissions: write-all
    name: kernel release 5_10-rk3_4	
    runs-on: ubuntu-latest		

    steps:	
      - name: Checkout repository	
        uses: actions/checkout@v1

      - name: Install dependencies	
        run: | 
          sudo apt-get update	
          sudo apt install -y gcc-9 openssl devscripts build-essential crossbuild-essential-arm64 bc bison  
          libelf-dev libssl-dev kmod cpio  libssl-dev
          
      - name: Clone and compile
        run: |
            mkdir edgble-kernel-5_10-rk3_4
            cd edgble-kernel-5_10-rk3_4	
            git clone https://github.com/edgeble/kernel.git -b linux-5.10-gen-rkr3.4	
            cd kernel	
            export ARCH=arm64 ; export CROSS_COMPILE=aarch64-linux-gnu-	
            sudo dpkg --add-architecture arm64
            make rockchip_linux_defconfig 
            make  dtbs Image -j12	 
            make  bindeb-pkg -j12
      
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: "edgblkernl-deb"
          files: |
            edgble-kernel-5_10-rk3_4/*.deb
            edgble-kernel-5_10-rk3_4/*.changes
            edgble-kernel-5_10-rk3_4/*.buildinfo
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


      # Add additional steps if needed, such as deploying the build artifacts
