name: kernel release 5_10-rk3_4	

on:	
  push:	
    branches:	
      - main	


jobs:	
  build:	
    name: kernel release 5_10-rk3_4	
    runs-on: self-hosted	

    steps:	
      - name: Checkout repository	
        uses: actions/checkout@v2	

      - name: Install dependencies	
        run: | 
          ls	
          mkdir edgble-kernel-5_10-rk3_4	
          cd edgble-kernel-5_10-rk3_4	
          sudo apt-get update	
          sudo apt install gcc make gcc-aarch64-linux-gnu binutils-aarch64-linux-gnu	
          
      - name: Clone 
        run: |	 
            cd edgble-kernel-5_10-rk3_4	
            git clone https://github.com/edgeble/kernel.git -b linux-5.10-gen-rkr3.4	
            cd kernel	
            export ARCH=arm64 ; export CROSS_COMPILE=aarch64-linux-gnu-	
            make rockchip_linux_defconfig ; make -j12	
          
      - name: Upload output artifacts	
        uses: actions/upload-artifact@v2	
        with:	
          name: Yocto Output	
          path: edgble-kernel-5_10-rk3_4/kernel/arch/arm64/boot/	


      # Add additional steps if needed, such as deploying the build artifacts
